@charset "utf-8";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* body */
.all_content{
  background:#ECF1F6;
}
ul,
li{
  list-style:none;
}

/* サイドバー */
.sidebar{
  width:200px;
  background-color:#03AAD2;
  font-weight:bold;
  padding-top: 10px;
}

.sidebar a{
  padding-left: 3px;
  padding-top: 5px;
}

.main-container{
  width:100%;
}
.sidebar p a{
  color:#fff;
}

/* トップページ */
.user_status{
  border-radius:10px;
  background:#FFF;
}

/* スクール予約関連 */
.day-blank{
  background-color: #9E9E9E;
}
.day-sat{
  color:#0000FF;
}
.day-sun{
  color:#FF0000;
}
.past-day{
  background:#EEE;
}
.calendar-td{
  min-width:100px;
   border: 1px solid #dee2e6;
}
.day_part{
  color:#494949;
  font-size:12px;
}

.adjust-table{
  width:70% !important;
}
.adjust-table td{
  padding:0 !important;
}
.adjust-area p{
  justify-content: space-around;
}
.adjust-table-btn{
  width:70%;
}

/* モーダル */
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}

/* 掲示板 */
.sub_categories{
  display:none;
}
.post_create_area{
  background:#FFF;
  border-radius:10px;
}
.post_create_area textarea{
  resize:none;
  height:300px;
  white-space: pre-wrap;
}
.detail_container{
  background:#FFF;
}
.post_area{
  background:#FFF;
  border-radius:10px;
  position: relative;
  margin-left: 30px;
  margin-right: 30px;
}

.post_free{
  border: solid 1px #999;
  background-color: #ECF1F6;
  border-radius: 5px;
  position: relative;
  width: 14.5rem;
  height: 30px;
}

.post_free_btn{
  position: absolute;
  background-color: #03AAD2;
  color: #FFF;
  border: none;
  border-radius: 5px;
  right: 21px;
  top: 77px;
  height: 30px;
  width: 3rem;
}

.subject_check{
  display: flex;
}

.post_top_area a{
  color: #000;
  font-weight: bold;
}

.post_username{
  color: #999;
}

.post_bottom_area{
  justify-content: space-between;
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.fa-comment{
  color: #999;
  padding-right: 5px;
}


.like_btn,
.un_like_btn{
  cursor:pointer;
  color: #999;
  border: #000;
  padding-right: 5px;
}
.un_like,
.un_like_btn{
  color:#E2254D;
}
.error_message{
  font-size:12px;
  color:red;
}

.category_search_title{
  padding-top: 30px;
  font-size: 13px;
}

.category_icon{
  border-color: #03AAD2;
  background-color: #03AAD2;
  border-radius: 5px;
  color: #FFF;
  width: 5rem;
  font-size: 10px;
  padding: 5px;
  font-weight: bold;
  height:25px;
  text-align: center;
}

.sub_category_btn{
  display: none;
  border: none;
  border-bottom: 1px solid lightgrey;
  background-color: #ECF1F6;
}

.subject_check{
  display: flex;
  align-items: center;
  margin: 0;
}

.category_search{
  position: relative;
}

.main_categories{
  border-bottom: 1px solid lightgray;
}

.main_categories::after{
  border-right: solid 2px #000;
  border-top: solid 2px #000;
  content: "";
  display: block;
  height: 8px;
  position: absolute;
  right: 10px;
  top:12px;
  transform: rotate(135deg);
  transition: transform .3s ease-in-out, top .3s ease-in-out;
  width: 8px;
  cursor: pointer;
}

.main_categories.open::after{
  top: 12px;
  transform: rotate(-45deg);
}


/* 掲示板 詳細画面 */
.edit-modal-open{
  background-color: blue;
  color: #fff;
  border-radius: 3px;
  padding: 5px 10px 5px 10px;
  font-size: 12px;
}

.delete-btn{
  background-color: red;
  border-radius: 3px;
  padding: 5px 10px 5px 10px;
  font-size: 12px;
}

.delete-btn a{
  color: #fff;
}

.detsail_post_title{
  font-weight: bold;
}

.comment_area{
  position: relative;
}

.comment_area_text{
  width: 100%;
  border-color: #999;
}

.comment_create_btn{
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  text-align: center;
  border-radius: 0.25rem;
  padding: 5px 10px 5px 10px;
  border: none;
  position: absolute;
  right: 10px;
  top: 340px;
}

.contributor{
  font-size:12px;
  color:#999;
  font-weight:bold;
}
.detsail_post_title{
  font-size:14px;
}
.detsail_post{
  font-size:12px;
  color:#9E9E9E;
}
.detail_inner_head{
  display:flex;
  justify-content: space-between;
}
.edit-modal-open{
  cursor:pointer;
}
.modal-inner-body textarea{
  height:150px;
  resize:none;
}
.edit-modal-btn{
  justify-content: space-between;
}
/* 掲示板 コメント */
.comment_container{
  background:#FFF;
}
.comment_area p,
.comment_area input{
  font-size:12px;
  font-weight:bold;
}
.comment_area textarea{
  height:300px;
  resize:none;
}
.comment_container span{
  font-size:12px;
}
.post_status span{
  font-size:12px;
}

/* 掲示板　カテゴリー */
.category_area{
  background:#FFF;
  border-radius:10px;
}
.category_box{
  border-radius:5px;
  padding:3px;
  background:#999;
  font-size:10px;
  color:#FFF;
}
.category_btn{
  font-size:12px;
  border-radius:5px;
  padding:0 5px;
  border:none;
  background:#999;
  color:#FFF;
}
.main_categories span,
.sub_categories li input{
  list-style:none;
  cursor:pointer;
}

/* ユーザー検索 */
.one_person{
  background-color: #FFF;
  padding: 15px;
  margin: 5px;
  width: 23%;
  height: 43%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px -5px;
}

.search-username a{
  color: #03AAD2;
}

.reserve_users_area{
  display:flex;
  flex-wrap:wrap;
  width:800px;
  margin:10px auto;
  height:80vh;
  overflow: scroll;
  padding:10px;
  background:#ECF1F6;
  border-radius:5px;
}
.reserve_users_area span{
  font-size:12px;
}

.search_conditions span{
  cursor:pointer;
}

.search_area label{
  color:navy;
  padding-top: 2px;
}

.search-btn-area{
  padding-top: 15px;
}

.search-btn{
  background: #03AAD2;
  border-color: #03AAD2;
  color: #FFF;
  width:220px;
  text-align: center;
  border-radius: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.reset-container{
  position: relative;
  padding-top: 15px;
}

.reset-btn{
  border: none;
  color: #03AAD2;
  background-color: #ECF1F6;
  position: absolute;
  left: 80px;
  padding-top: 3px;
}

.search_conditions::after{
  border-right: solid 2px #000;
  border-top: solid 2px #000;
  content: "";
  display: block;
  height: 8px;
  position: absolute;
  right: 65px;
  top:200px;
  transform: rotate(135deg);
  transition: transform .3s ease-in-out, top .3s ease-in-out;
  width: 8px;
  cursor: pointer;
}

.search_view{
  font-weight: bold;
}

.search_conditions.open::after{
  top: 200px;
  transform: rotate(-45deg);
}

.search_conditions{
  border-bottom: 1px solid lightgray;
  width: 80%;
}

.search_conditions_inner{
  display:none;
  background-color: #ECF1F6;
}

.free_word{
  background-color: lightgrey;
  border: none;
  border-radius: 5px;
  width: 14rem;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 12px;
}

.engineer{
  background-color: lightgrey;
  border: none;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
}

.search_name{
  background-color: lightgrey;
  border: none;
  border-radius: 5px;
  width: 4rem;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
}

.search_updown{
  background-color: lightgrey;
  border: none;
  border-radius: 5px;
  width: 4rem;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
}

.subject_edit_btn{
  font-size:12px;
  color:#03AAD2;
  cursor:pointer;
}
.subject_inner{
  display:none;
}

.subject_edit_btn::after{
  border-right: solid 2px #03AAD2;
  border-top: solid 2px #03AAD2;
  content: "";
  display: block;
  height: 8px;
  position: absolute;
  left: 115px;
  top: 252px;
  transform: rotate(135deg);
  transition: transform .3s ease-in-out, top .3s ease-in-out;
  width: 8px;
  cursor: pointer;
}

.subject_edit_btn.open::after{
  top: 252px;
  transform: rotate(-45deg);
}

.up_post{
  background-color:#03AAD2;
  border-radius: 4px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.up_post a{
  color: #fff;
}

.keyword_search{
  padding-top: 18px;
  padding-bottom: 18px;
}

.good_btn{
  width: 7rem;
  font-size:12px;
  border-radius:5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 20px;
  border:none;
  background:palevioletred;
  color:#fff
}

.my_post_btn{
  width: 7rem;
  font-size:12px;
  border-radius:5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 18px;
  border:none;
  background:orange;
  color:#FFF;
}

.top_area{
  position: relative;
}

.profile-name{
  position: absolute;
  top: 10px;
  left: -130px;
}

/* ログイン画面 */

.login_icon{
  position: relative;
}

.login_icon img{
  position: absolute;
  right:580px;
  top:100px;
}

.text-center{
  padding-bottom: 15px;
}

.sex{
  padding-left: 15px;
  padding-right: 15px;
}

/* 新規登録 */

.register_con{
  width: 100%;
  background-color: #ECF1F6;
}

.register_area{
  background-color: #fff;
  border-radius: 10px;
  border: none;
  width: 340px;
  padding: 15px;
  box-shadow: 5px 5px 5px -5px;
}

/* カレンダー */

.calendar-box{
  width: 85%;
  margin: 0 auto;
}

.calender-day{
  width: 80%;
  margin: 0 auto;
}

.reserve_title{
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0px 4em;
  background-color: #03AAD2;
  border-color: #03AAD2;
  color: #fff;
  font-weight: bold;
}

.reserve_parson{
  display: flex;
  margin: 0 auto;
  padding: 0px 4em;
  justify-content: space-between;
}

.reserve_parson:nth-child(2n){
  background-color: #ddfaff;
}

.reserve_parson:nth-child(2n+1){
  background-color: #fff;
}

.reserve_detail{
  border: none;
  background-color: #fff;
}

.day_part{
  display: flex;
  justify-content: space-around;
}

.wakutoroku-btn{
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 5px;
  color: #fff;
  padding: 5px 10px;
  position: absolute;
  top: 729px;
  right: 250px;
}